<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each.each do |review| %>
    <li><%= review.content %>
        (<%= review.rating %>/5)
    </li>
  <% end %>
</ul>

<%= render "reviews/form", review: @review %>
<%= link_to "Back to Restaurants list", restaurants_path, class: "btn btn-primary" %>
